<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Login or Register to gain access to avosa's services">
    <meta name="author" content="avosa Software">

    <title>avosa Notification</title>
    {{ template "style.html"}}
</head>

<body>
    <div class="content">
        <p>
            {{block "message" .}} {{end}}
        </p>
    </div>
    <hr class="line">
    <footer class="content">
        <p>
                IMPORTANT NOTICE:
                This message contains privileged and confidential information intended only for the person or entity to which it is addressed. Any review, retransmission, dissemination, copy or other use of, or taking of any action in reliance upon this information by persons or entities other than the intended recipient, is prohibited. If you received this message in error, please notify the sender immediately by e-mail, facsimile or telephone and thereafter delete the material from any computer. Any views expressed in this message are those of the individual sender, except where the sender specifically states them to be the view of the entity transmitting the message.
        </p>
        <p>
            This message was sent to you by
            <strong><a href="https://avosa.co.za">avosa Software</a></strong>
        </p>
        <span>
            Copyright &copy;
            <a href="https://avosa.co.za">avosa Software</a> 2017
        </span>
    </footer>
</body>

</html>